*{
    box-sizing: border-box;
}
body{
    /* background-color: aq uamarine; */
    margin: 0;
    font-size: 1.125rem;
    font-family: 'ubuntu';
    font-weight: 300;
}
img{
    display: block;
    max-width: 100%;
}
#main{
    width: 100%;
    background-color: #f8f8f8;
    padding: 2em;
    text-align: center;
    margin-bottom: 3em;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;

}

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#title{
    color: #143774;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    font-family: 'Lora';
    font-weight: 400;
}

#sub-title{
    color: #1792D2;
    text-align: center;
    margin: 0;
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
}
h1,h2,h3{
    font-family: 'Lora';
    color: #143774;
    font-weight: 400;
    margin-top: 0;
}
a{
    color:#1792D2 ;
}
a:hover{
    color:#143774;
}
.article-title{
    font-size: 1.5rem;
}
.article-read-more,
.article-info
{
    font-size: 0.875rem;
}
.article-read-more{
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.article-info{
    margin: 2em 0;
}

.article-featured{
    border-bottom: 2px solid #707070;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.article-recent{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.article-recent-main{
    order: 2;
}

.article-recent-secondary{
    order: 1;
}
/* navigation */
nav ul{
    padding: 0;
    justify-content: center;
    text-align: center;
}

nav li{
    list-style: none;
    margin: 0.5em 0;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    padding: 0.25em 0;
}

nav a:hover{
    color: #1792D2;
}

.current-page{
    border-bottom:2px solid #707070;
}

.current-page:hover{
    color: #707070;
}

.sidebar-widget{
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-title,
.widget-recent-post,
.widget-body{
    font-size: 1rem;
}
.widget-title{
    font-weight: 700;
    font-family: 'ubuntu';
}
.widget-recent-post{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}
.widget-recent-post:last-child{
    border: 0;
    margin-bottom: 0;
}
.widget-image{
    order: -1;
}


footer{
    background-color: #143774;
    color: white;
    text-align: center;
    padding: 3em 0;
}
/* media query */
@media(min-width: 675px){
    .container-flex{
        flex-direction: row;
    }
    main{
        width: 70%;
    }

    aside{
        width: 20%;
    }
    nav li{
        margin-left: 2em;
    }
    .article-recent{
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-main{
        width: 68%;
    }
    .article-recent-secondary{
        width: 30%;
    }
    .article-img{
        display: block;
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
    .article-featured{
        display: flex;
        flex-direction: column;
    }
    .article-info{
        order:-1;
    }
    .article-img{
        order: -2;
    }
}